* {
  margin: 0;
  padding: 0px;
}

#root {
  --text-color: #0c0c0c;
  --bckgnd-color: #1c1b39;
  --title-color: #EF807C;
  --card-color: #FFFFFF;
  --column-color: #0000001F;
  --shadow-color: #555555;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.background {
  width: 100vw;
  height: 100vh;
  background-color: var(--bckgnd-color);
}

.logo-mach {
  margin-top: 1.5rem;
  height: 8rem;
}

.breadcrumbs {
  color: var(--title-color);
  font-weight: bold;
  padding-left: 12rem;
}