* {
    margin: 0;
    padding: 0;
}

.task-container {
    height: 6rem;
    background-color: var(--card-color);
    border: solid 1px var(--shadow-color);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    box-shadow: 2px 2px 2px var(--shadow-color);
    padding: 0.5rem;
    position: relative;
    margin-right: 6px;
}

.task-title {
    color: var(--title-color);
}

.description {
    text-align: justify;
    text-indent: 2rem;
    font-style: italic;
    font-size: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var(--text-color);
}

.edit-icon {
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.unvisible {
    display: none;
}

.visible {
    display: block;
}